---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Be right back.">
	<div class="w-screen h-screen flex justify-center items-center">
		<div class="text-5xl md:text-7xl">Be right back.</div>
	</div>
</Layout>

